.dx-scheduler-appointment {
    min-height: 28px;
}

.dx-scheduler-appointment-content {
    width: inherit;
}

.dx-popup-wrapper.dx-scheduler-appointment-tooltip-wrapper .dx-popup-content .dx-list-item,
.dx-scheduler-overlay-panel .dx-popup-content .dx-list-item {
  width: 75vw;
  text-align: left;
  padding: 1rem;
}
